<!-- valine 评论系统 -->
<% if (theme.valine.enableComment){ %>
	<div id="vcomments"></div>
<% } %>

<script>
	<% if (theme.valine.enableComment){ %>
		// 评论
		new Valine({
			el: '#vcomments',
			appId: '<%- theme.valine.appID %>',
			appKey: '<%- theme.valine.appKey %>',
			placeholder: '<%- theme.valine.placeholder %>',
			path: window.location.pathname,
			avatar: '<%- theme.valine.avatar %>',
			highlight: false,
      recordIP: true,
      enableQQ: true,
			requiredFields: ['nick','mail']
		})
	<% } %>
	<% if (theme.valine.enableCounter){ %>
    // 显示次数
		function showTime(Counter) {
			var query = new AV.Query("Counter");
			if($(".leancloud_visitors").length > 0){
				var url = $(".leancloud_visitors").attr('id').trim();
				// where field
				query.equalTo("words", url);
				// count
				query.count().then(function (number) {
					// There are number instances of MyClass where words equals url.
					$(document.getElementById(url)).text(number?  number : '--');
				}, function (error) {
					// error is an instance of AVError.
				});
			}
		}
		// 追加pv
		function addCount(Counter) {
			var url = $(".leancloud_visitors").length > 0 ? $(".leancloud_visitors").attr('id').trim() : 'wujun234.github.io';
			var Counter = AV.Object.extend("Counter");
			var query = new Counter;
			query.save({
				words: url
			}).then(function (object) {
			})
		}
		$(function () {
			var Counter = AV.Object.extend("Counter");
			addCount(Counter);
			showTime(Counter);
		});
	<% } %>
</script>

<!-- giscus 评论系统 -->
 <% if(theme.giscus && theme.giscus.enable) { %>
	<!-- 解决giscus评论系统中文解码问题，详见 https://blog.southfox.me/2022/01/%E4%B8%BA%E5%8D%9A%E5%AE%A2%E6%94%AF%E6%8C%81%E8%AF%84%E8%AE%BA%E7%B3%BB%E7%BB%9F/ -->
	<% if (page.title){ %><meta property="og:title" content="<%= page.path %>"/><% } %>
	<!-- <script type="module" src="https://unpkg.com/giscus?module"></script> 和下面二选一 -->
	<script type="module" src="https://cdn.skypack.dev/giscus"></script>
	<giscus-widget
	  id="giscuscomments"
	  repo="<%=theme.giscus.repo %>"
	  repoid="<%=theme.giscus.repo_id %>"
	  category="Announcements"
	  categoryid="<%=theme.giscus.category_id %>"
	  mapping="og:title" 
	  term="Welcome to giscus!"
	  reactionsenabled="<%=theme.giscus.reactions_enabled %>"
	  emitmetadata="<%=theme.giscus.emit_metadata %>"
	  inputposition="<%=theme.giscus.input_position %>"
	  theme="<%=theme.giscus.theme %>"
	  lang="<%=theme.giscus.lang %>"
	  loading="lazy"
	></giscus-widget>
 <% } %>

<!-- remark42 评论系统 -->
 <% if(theme.remark42 && theme.remark42.enable) { %>
	<div id="remark42"></div>

	<script>
	  const remark_config = {
	    host: 'https://127.0.0.1',
	    site_id: 'remark',
	  }
	</script>
	<script>
	(function(c) {
	    for(var i = 0; i < c.length; i++){
	      var d = document, s = d.createElement('script');
	      s.src = remark_config.host + '/web/' +c[i] +'.js';
	      s.defer = true;
	      (d.head || d.body).appendChild(s);
	    }
	  })(remark_config.components || ['embed']);
	</script>
 <% } %>



